
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html xmlns="xmlns=http://www.thymeleaf.org">

<base href="/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<title>AutoTrip</title>
<link rel="stylesheet" href="css/automated_trip.css">
</head>
<!--
    Navigation Bar 
  -->
  <div th:insert="navbar :: navbar">  </div>

<div class="space"></div>
    <body>
        
        <form th:action="@{/automatedtrippost/{id} (id=${userId})}" th:object="${automatedTrip}" method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="form-group row">
               
                    
                    <div>
                    <div class="custom-select">
                    <label class="col-form-label" >choose one city</label>
                    
                    </div>
                    <br>
                    <div>
                        <select th:field="*{city}" class="form-control" > 
                            <th:block th:each="city :${cities}">
                            <option th:text="${city.name}" th:value="${city.id}" />
                            </th:block>
                            
                    
                        </select>
                    </div>
                        <div class="space2"></div>
                        <p> Choose the  type of activities you would like ...
                        </p>
                        <div>
                            <select th:field="*{category}" class="form-control" multiple="multiple"> 
                                <th:block th:each="cat :${categories}">
                                <option th:text="${cat.name}" th:value="${cat.id}" />
                                </th:block>
                                
                            
                            </select>
                        </div>


                    </div>
                    <div class="buttonHolder">
                        <div>
                            <button type="submit" class="button">Save</button>
                        </div>
                    </div>
            </div>
        </form>

        
    
    </body>
</html>




