<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/gohome">
        <img src="/images/bored.png" width="30" height="30" class="d-inline-block align-top" alt="bored_img">
        BORED
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/gohome">Home</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" th:href="@{/favorites}">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" th:href="@{/createactivity}">Custom Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" th:href="@{/plantrip}">Plan new trip</a>
          </li>
          <li class="nav-item">
           
            <a class="nav-link " aria-current="page" th:href="@{/transport}">Transport options</a>
          </li>

          
          <li class="nav-item">
              <a class="nav-link " aria-current="page" th:href="@{/bookhotel}">Hotel</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " aria-current="page" th:href="@{/appreview}">Review our app</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " aria-current="page" th:href="@{/viewtickets}">Manage bookings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " aria-current="page" th:href="@{/review}">Review Activities</a>
    </li>
      

    <li class="nav-item">
      <a class="nav-link " aria-current="page" th:href="@{/logout}">Logout</a>
  </li>


       
         
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>