<!DOCTYPE html>
<html xmlns="xmlns=http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page !!</title>
</head>
<body>

	<p>Welcome to The Bored App !! Going for a trip ? But don't know what to do</p>
	<p>Don't stress we can pick the best activities , hotels and even handle your transportation</p>
	<p>all tailored to your taste and budget, sit back relax and we will handle it! </p>
	
	
	
	<p>New users register here</p>
	<a th:href="@{/register}">Register</a>
	
	<p>Existing users Login here</p>
	<a th:href="@{/login}">login</a>
	


</body>
</html>